In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import seaborn as  sns

In [53]:
# Here we are using the data of housing price of melbourne city. 
# here we used this data and fit a regression model and check the accuracy .
# here the main research question is that " how the price of house is affected by other factor like Suburb, Rooms , Types ... 
# Here we are using linear  model to fit  the data .

# importing the Raw data

In [3]:
# now we are going to import the data 
dataset=pd.read_csv('C:/Users/91629/Desktop/melbourne_housing.csv')
dataset

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,3/12/2016,2.5,3067,...,1,1.0,202,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,4/2/2016,2.5,3067,...,1,0.0,156,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,4/3/2017,2.5,3067,...,2,0.0,134,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,4/3/2017,2.5,3067,...,2,1.0,94,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,4/6/2016,2.5,3067,...,1,2.0,120,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000,S,Barry,26/08/2017,16.7,3150,...,2,2.0,652,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392
13576,Williamstown,77 Merrett Dr,3,h,1031000,SP,Williams,26/08/2017,6.8,3016,...,2,2.0,333,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380
13577,Williamstown,83 Power St,3,h,1170000,S,Raine,26/08/2017,6.8,3016,...,2,4.0,436,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380
13578,Williamstown,96 Verdon St,4,h,2500000,PI,Sweeney,26/08/2017,6.8,3016,...,1,5.0,866,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380
13579,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26/08/2017,6.3,3013,...,1,1.0,362,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543

In [4]:
#print the unique value of the dataset
dataset.nunique()

Suburb             314
Address          13378
Rooms                9
Type                 3
Price             2204
Method               5
SellerG            268
Date                58
Distance           202
Postcode           198
Bedroom2            12
Bathroom             9
Car                 11
Landsize          1448
BuildingArea       602
YearBuilt          144
CouncilArea         33
Lattitude         6503
Longtitude        7063
Regionname           8
Propertycount      311
dtype: int64

In [6]:
dataset.shape

(13580, 21)

# Data Cleaning( for using it in regression model)

In [7]:
# In this data frame there are some columns are not usefull as such 
# Hence we create a new data frame where we put all the usefull columns 
cols_to_use=['Suburb','Rooms','Type','Method','SellerG','Regionname','Propertycount','Distance','CouncilArea','Bedroom2',
          'Bathroom','Car','Landsize','BuildingArea','Price' ]
dataset=dataset[cols_to_use]
dataset.head()

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price
0,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019,2.5,Yarra,2,1,1.0,202,NaN,1480000
1,Abbotsford,2,h,S,Biggin,Northern Metropolitan,4019,2.5,Yarra,2,1,0.0,156,79.0,1035000
2,Abbotsford,3,h,SP,Biggin,Northern Metropolitan,4019,2.5,Yarra,3,2,0.0,134,150.0,1465000
3,Abbotsford,3,h,PI,Biggin,Northern Metropolitan,4019,2.5,Yarra,3,2,1.0,94,NaN,850000
4,Abbotsford,4,h,VB,Nelson,Northern Metropolitan,4019,2.5,Yarra,3,1,2.0,120,142.0,1600000

In [9]:
dataset.shape

(13580, 15)

In [10]:
# Now some columns are droped .

In [11]:
# Now we are going to calculate the Ana values
dataset.isna().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          0
Propertycount       0
Distance            0
CouncilArea      1369
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
Price               0
dtype: int64

In [12]:
# Now we want to fill up some columns with zero
cols_to_fill_zero=['Car']
dataset[cols_to_fill_zero]=dataset[cols_to_fill_zero].fillna(0)
dataset.isna().sum()

C:\Users\91629\anaconda3\lib\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          0
Propertycount       0
Distance            0
CouncilArea      1369
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea     6450
Price               0
dtype: int64

In [13]:
# Now the ana value of the car become zero. it means , that there is no car parking zone in housing complex.

In [14]:
 #Now the ana values are zero
# now we are looking for other columns 
# Now i fill up those columns with their mean values
dataset['BuildingArea']=dataset['BuildingArea'].fillna(dataset.BuildingArea.mean())

<ipython-input-14-3b94329e70d6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['BuildingArea']=dataset['BuildingArea'].fillna(dataset.BuildingArea.mean())

In [15]:
dataset.isna().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          0
Propertycount       0
Distance            0
CouncilArea      1369
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
Price               0
dtype: int64

In [16]:
dataset.dropna(inplace=True)
dataset.isna().sum()

<ipython-input-16-804bcec8f6e4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.dropna(inplace=True)

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
Price            0
dtype: int64

In [17]:
# Here we are going to drop those varible who have some ana value

In [18]:
# In this data we see some catagorical variable so that we convert those catagorical variable into dumm variable .
# to avoid dummy variable trap , we should used to drop 'drop_first '
dataset=pd.get_dummies(dataset, drop_first=True)
dataset

,Rooms,Propertycount,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price,Suburb_Aberfeldie,...,CouncilArea_Moreland,CouncilArea_Nillumbik,CouncilArea_Port Phillip,CouncilArea_Stonnington,CouncilArea_Unavailable,CouncilArea_Whitehorse,CouncilArea_Whittlesea,CouncilArea_Wyndham,CouncilArea_Yarra,CouncilArea_Yarra Ranges
0,2,4019,2.5,2,1,1.0,202,151.96765,1480000,0,...,0,0,0,0,0,0,0,0,1,0
1,2,4019,2.5,2,1,0.0,156,79.00000,1035000,0,...,0,0,0,0,0,0,0,0,1,0
2,3,4019,2.5,3,2,0.0,134,150.00000,1465000,0,...,0,0,0,0,0,0,0,0,1,0
3,3,4019,2.5,3,2,1.0,94,151.96765,850000,0,...,0,0,0,0,0,0,0,0,1,0
4,4,4019,2.5,3,1,2.0,120,142.00000,1600000,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12208,3,6380,6.8,3,1,0.0,296,151.96765,1285000,0,...,0,0,0,0,0,0,0,0,0,0
12209,2,4380,4.6,2,1,1.0,0,61.60000,560000,0,...,0,0,0,1,0,0,0,0,0,0
12210,3,2940,25.5,3,2,2.0,400,151.96765,525300,0,...,0,0,0,0,0,0,1,0,0,0
12211,2,6543,6.3,2,1,2.0,269,151.96765,750000,0,...,0,0,0,0,0,0,0,0,0,0
12212,6,6543,6.3,6,3,2.0,1087,388.50000,2450000,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
x= dataset.drop("Price",axis=1)
y=dataset['Price']

In [20]:
# here we creat x and y variables

In [52]:
# Now we should split the data in to tarin and test data

# Train_Test_split

In [25]:
from sklearn.model_selection import train_test_split

In [23]:
# now we are going to run linear regression
from sklearn.linear_model import LinearRegression

In [26]:
x_train,x_test, y_train ,y_test= train_test_split(x,y,test_size=0.3,random_state=2)

In [27]:
reg= LinearRegression().fit(x_train, y_train)

In [28]:
reg.score(x_test,y_test)

-12752664186.084303

In [29]:
# Here the score is too low . Now we have to check the score on trainng data set

In [30]:
reg.score(x_train,y_train )

0.7120927411281222

In [33]:
# Now Here the score is high , 71% . so it is very clered that my regression model is overfitted.Because for traing it give high score whereas for test data it shows low score

# L1(lasso regression ) and L2( ridge regression )

In [32]:
# so we have to remove this Overfit by using L1 and L2 regularization

In [34]:
# l1 regularization is basicaly Lasso regression

In [38]:
from sklearn import linear_model

Lasso_reg=linear_model.Lasso(alpha=50, max_iter=100,tol=0.1)

Lasso_reg.fit(x_train,y_train)

C:\Users\91629\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 527174351327868.75, tolerance: 347511914103256.56
  model = cd_fast.enet_coordinate_descent(

Lasso(alpha=50, max_iter=100, tol=0.1)

In [48]:
Lasso_reg.score(
x_test,y_test)

0.6635378648697849

In [41]:
# Here we see the score become improved . 
#Now we are going to check the score of training data 
Lasso_reg.score(x_train,y_train)

0.7075207761454996

In [42]:
# it is also improved . it is cleared that somehow it will help to remove overfitting slightly.

In [43]:
# Now we are going to do L2 regularization . 
#l2 regularization is known as ridge regression

In [44]:
from sklearn.linear_model import Ridge

In [45]:
ridge_reg=Ridge(alpha=50,max_iter=100,tol=0.1)
ridge_reg.fit(x_train,y_train)

Ridge(alpha=50, max_iter=100, tol=0.1)

In [46]:
# Now we are going to check the accuracy score

In [47]:
ridge_reg.score(x_train,y_train)

0.6767113841211165

In [50]:
ridge_reg.score(x_test,y_test)

0.6644072458301126

In [ ]:
# Here the accuracy score is improved . Hence lasso and Ridge regression is used to remove the overfitting problem. 
# now the result become more accurate and we can get the best fitted line as well.
#